html, body, p, div, form, img, iframe, ul, li, dl, dt, dd { margin:0; padding:0; }
body { -webkit-text-size-adjust:none; }
ul, li, dl, dt, dd { list-style:none; }
img, fieldset { border:none 0; }
caption { display:none; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display:block }
/* corrects block display not defined in IE6/7/8/9 */
mark { background:#FF0; color:#000; }
/* adds styling not present in IE6/7/8/9 */
template { display:none; }
/* hides non-rendered elements */

/* inline-block */
.dInline { display:inline-block; *zoom:1; *display:inline; vertical-align:middle; }
/* hide text */
.dHideText { line-height:0; font-size:0; color:transparent; }
.dInlineHideText { display:inline-block; *zoom:1; *display:inline; vertical-align:middle; line-height:0; font-size:0; color:transparent; }
.dTextOverflow { white-space:nowrap; word-break:keep-all; word-wrap:normal; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; }
.dHiddenFrame { width:0; height:0; overflow:hidden; visibility:hidden; display:none; border:0 none; position:absolute; }
/* 기본 디자인 */
.d_def.table { border-top:2px solid #999; border-bottom:1px solid #ccc; }
.d_def.table th, .d_def.table td { vertical-align:middle; padding:9px 0 6px 0; }
.d_def.table > thead > tr > th { white-space:nowrap; text-align:center; border-bottom:1px solid #999; }
.d_def.d_center.table > tbody > tr > td { vertical-align:middle; text-align:center; }
.d_def.table tbody .d_break { word-break:break-all; white-space:normal; }
/*----------------------------------------------------------------------------------------------------*/
/* bootstrap 과 jquery ui의 충돌을 해결하기 위한 처리 */
body .input-append input, body .input-append button { font-size:10pt; }
body .ui-spinner input { margin:0; }
/*----------------------------------------------------------------------------------------------------*/
/* 기타 */
/* 웹에디터 상에서 font 설정시 line-height:14pt로 지정되는 것 때문 */
font { line-height:160%; }

/* alertify 0.3.9버전에서 보여진 후 다시 숨겨진 상태에서 사라지지 않음(투명하나 상단에 존재함) */
:root * > .alertify-hidden.alertify-isHidden { visibility:hidden; }

/* -----------------------------------------------
 * 공통
 */
body { padding:24px 24px 24px 50px; /*background:#eee;*/ color:#444; }
@media only screen and (max-device-width:480px) {
	body { padding:16px; }
}
h1 { border-bottom:#ccc solid 1px; margin-bottom:20px; padding-bottom:10px; }
.tab-pane { padding-top:10px; }
#cImportTextarea { display:block; width:100%; height:300px; box-sizing:border-box; }
.adsbygoogle { margin-bottom:10px; }
/* -----------------------------------------------
 * Intro
 */
.dIntro { margin-top:30px; }
/* -----------------------------------------------
 * Setting
 */
.dSetting { padding:0 15px; }
.dSetting .dSize .col-xs-5 { min-width:120px; max-width:140px; }
.dSetting .dSize .col-xs-1 { width:20px; margin-left:-10px; margin-right:-10px; padding-left:5px; padding-right:5px; }
.dSetting .dPadding .col-xs-5 { min-width:170px; max-width:200px; }
.dSetting .dPadding .col-xs-1 { width:20px; margin-left:-10px; margin-right:-10px; padding-left:5px; padding-right:5px; }
.dSetting .dSize [type=number] { min-width:60px; padding-left:5px; padding-right:5px; }
.dSetting div.radio { margin-right:15px; }
/* -----------------------------------------------
 * image drop zone
 */
.dFilesBox { max-height:500px; overflow:auto; }
.dFilesBox .btn-group { margin-bottom:10px; }
#cFiles { padding:3px; margin:0; min-height:200px; border:#ccc dotted 1px; }
#cFiles.hover { background:#f5f5f5; border:#ccc dashed 2px; }
#cFiles > li {
	box-sizing:border-box;
	width:240px; padding:5px;
	display:inline-block;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
#cFiles > li > img { max-width:50px; max-height:50px; margin-right:7px; }
#cFiles > li > span > i { font-size:11px; color:#999; }
#cFiles .popover-content { padding:9px 25px; }
/* -----------------------------------------------
 * Generated CSS
 */
#cResult .cCopy { margin-bottom:10px; }
#cResult .generated-css {
	white-space:nowrap;
	overflow:auto;
	tab-size:2;
}
/* -----------------------------------------------
 * Validation
 */
#cValidation li { box-sizing:border-box; float:left; margin:0 15px 15px 0; white-space:nowrap; border:#e5e5e5 solid 1px; padding:5px; }
#cValidation li h3 { font-size:16px; font-weight:normal; margin:5px 0 10px 0; white-space:nowrap; }
#cValidation li > div { border:#ccc solid 1px; display:inline-block; }
#cValidation li > div.cRetina { margin-left:5px; }
/* -----------------------------------------------
 * Export
 */
#pExportDown { margin-bottom:10px; }
#cExport h3 { font-size:16px; }
#cExport h3 > span { padding-top:10px; display:inline-block; margin-top:5px; }
#cExport .dExportImages dt { border-bottom:#ccc solid 1px; padding-bottom:5px; margin-bottom:10px; }
#cExport .dExportImages dd { background:url('../img/bg.png') repeat; }
#cExport .dExportImages dd > img { max-width:100%; border:#ccc solid 1px; }
#cExport .cJsonTitle { }
.cExportData { padding:10px; }
.cExportData .string { color:green; }
.cExportData .number { color:darkorange; }
.cExportData .boolean { color:blue; }
.cExportData .null { color:magenta; }
.cExportData .key { color:red; }
/* -----------------------------------------------
 * Footer
 */
footer { border-top:#ccc solid 1px; margin:30px 0 20px 0; padding-top:20px; }